* {
	Margin: 0px;
	font-family: Arial;
}

.buttonNav {
	font-size: 20px;
	color: white;
	padding: 12px 17px 12px 17px;
	text-decoration: none;
	
}

.buttonNav:hover {
	opacity: 60%;
	text-decoration: underline;
}

.nav-bar {
	background-color: #080c34;
	color: white;
	font-size: 20px;
	height: 100px;
	width: 100vw;
	display: flex;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}

#intro { 
	color: white;
	background-color: #0884dc;
	line-height: 55px;
	text-align: center;
	padding: 30px 17px 30px 17px;
}

#intro #name{
	font-size: 50px;
	text-shadow: 1px 5px 0px #045f9a;
}


#titleBorder { 
	color: white;
	background-color: #0884dc;
	line-height: 55px;
	text-align: center;
	padding: 7px 17px 7px 17px;
}

#titleBorder #borderName{
	font-size: 35px;
	text-shadow: 1px 5px 0px #045f9a;
}

#intro h2{
	font-size: 25px;
	font-weight: 500;
	text-shadow: 1px 3px 0px #045f9a;
}

#profilePhoto {
	height: 220px;
	width: 220px;
	border-radius: 220px;
	border: 2px solid white;
	margin-top: 10px;
}

.about{
background-image: url('images/greybrickwall.jpg');
	text-align: center;
	height: 706px;

	min-width: 200px;


	padding-left: 5%;
	padding-right: 5%;
}

.subTopAbout{
	font-size: 35px;
	text-shadow: 1px 5px 0px #045f9a;
	font-weight: 600;
    background-color: #0884dc;
	color: rgb(255, 255, 255);

	border: 2px solid white;
	text-align: center;

    border-radius: 50px 50px 0px 0px;
	min-width: 200px;
	margin-top: 5px;
	margin-left: 38%;
	margin-right: 38%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%
}

.subMidAbout{
    background-color: #ffffff;
	border: 2px solid white;
	color: black;
	font-weight: 600;
	text-align: center;
	height: 75px;
	min-width: 200px;
    margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 38%;
	margin-right: 38%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%
}

.subBottomAbout{
    background-color: #ffffff;
	border: 2px solid white;
	color: black;
	font-weight: 600;
	text-align: center;
	height: 85px;
    border-radius: 0px 0px 50px 50px;
	min-width: 200px;
    margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 38%;
	margin-right: 38%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%
}

.subProfile{
    background-color: #ffffff;
	border: 3px solid white;
	color: black;
	font-weight: 600;
	width: 220px;
}



.projects {
	/*background-color: #252529;*/
    background-image: linear-gradient(#10101a, #272a42);
	color: white;
	text-align: center;
	height: 350px;
	min-width: 200px;
	padding-top: 40px;
}

.intro {
	text-align: center;
	/*border: solid 1px white;*/
	margin-left: 6%;
	margin-right: 6%;
    padding: 0.7% 0.7% 0.7% 0.7%;
}

body {
	background-color: #2acaf1;
	overflow-x: hidden;
}



.projectSquare {
	height: 150px;
	width: 150px;
    border: solid white 2px;
    border-radius: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.projectSquare:hover {
	transition: 0.15s;
	opacity: 50%;
}
