* {
	Margin: 0px;
	font-family: Arial;
}

.buttonNav {
	font-size: 20px;
	color: white;
	padding: 12px 17px 12px 17px;
	text-decoration: none;
	
}

.buttonNav:hover {
	opacity: 60%;
	text-decoration: underline;
}

.nav-bar {
	background-color: #080c34;
	color: white;
	font-size: 20px;
	height: 100px;
	width: 100vw;
	display: flex;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
	position: fixed;
	border-bottom: solid white 1px;
}

#intro { 
	color: white;
	background-color: #0884dc;
	line-height: 55px;
	text-align: center;
	padding: 140px 17px 30px 17px;
	pointer-events: none;
	user-select: none;
}

#intro #name{
	font-size: 50px;
	text-shadow: 1px 5px 0px #045f9a;
}


#titleBorder { 
	color: white;
	background-color: #0884dc;
	line-height: 55px;
	text-align: center;
	padding: 7px 17px 7px 17px;
	pointer-events: none;
	user-select: none;
}

#titleBorder #borderName{
	font-size: 35px;
	text-shadow: 1px 5px 0px #045f9a;
}

#intro h2{
	font-size: 25px;
	font-weight: 500;
	text-shadow: 1px 3px 0px #045f9a;
	pointer-events: none;
	user-select: none;
}

#profilePhoto {
	height: 220px;
	width: 220px;
	border-radius: 220px;
	border: 2px solid white;
	margin-top: 13px;
	pointer-events: none;
	user-select: none;
}

.about {
	background-image: url('images/greybrickwall.jpg');
	text-align: center;
	height: 640px;
	min-width: 200px;
	padding-left: 5%;
	padding-right: 5%;
}

.subTopAbout {
	font-size: 35px;
	text-shadow: 1px 5px 0px #045f9a;
	font-weight: 600;
    background-color: #0884dc;
	color: rgb(255, 255, 255);

	border: 2px solid white;
	text-align: center;

    border-radius: 50px 50px 0px 0px;
    margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	pointer-events: none;
	user-select: none;
}

.subMidAbout{
    background-color: #ffffff;
	border: 2px solid white;
	color: black;
	font-weight: 600;
	text-align: center;
	height: 75px;

	padding-top: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	width: 400px
}

.subBottomAbout{
    background-color: #ffffff;
	border: 2px solid white;
	color: black;
	font-weight: 600;
	text-align: center;
	height: 85px;
    border-radius: 0px 0px 50px 50px;

	padding-top: 20px;
    margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	width: 400px
}

.subProfile{
    background-color: #ffffff;
	border: 3px solid white;
	color: black;
	font-weight: 600;
	width: 220px;
}



.projects {
	/*background-color: #252529;*/
    background-image: linear-gradient(#10101a, #242950);
	color: white;
	text-align: center;
	height: 350px;
	min-width: 200px;
	padding-top: 40px;
	border-top: solid grey 1px;
	border-bottom: solid grey 1px;
	
}

.intro {
	text-align: center;
	/*border: solid 1px white;*/
	margin-left: 6%;
	margin-right: 6%;
    padding: 0.7% 0.7% 0.7% 0.7%;
}

body {
	background-color: #2acaf1;
	overflow-x: hidden;
}



.projectSquare {
	height: 150px;
	width: 150px;
    border: solid white 2px;
    border-radius: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.projectSquare:hover {
	transition: 0.15s;
	opacity: 50%;
}

.contactContainer {
	color: black;
	font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-color: #ffffff;
    border: solid 0px;
    border-radius: 5px;
}