* {
	Margin:0px;
	font-family: Arial;
}

.buttonNav{
	color: white;
	margin: 24px;
	padding: 12px 17px 12px 17px;
	background-color: #36363b;
	border-radius: 5px;
	text-decoration:none;
	border: solid 1px white;
}

.buttonNav:hover {
	background-image: linear-gradient(#252529, #454549);
	color: #59649c;
	border: solid 1px #59649c;
	transition: linear 0.5s;
	text-decoration: underline;
}

.nav-bar{
	background-image: linear-gradient(#454549, #252529);
	color: white;
	font-size: 17px;
	text-align: center;
	height: 95px;
	width: 100vw;
}

#pfp {
	border-radius: 50px;
}

.main-info {
	/*background-color: #252529;*/
    background-image: linear-gradient(#10101a, #272a42);
	color: white;
	text-align: center;
	height: 2500px;
    border-radius: 50px;
	min-width: 200px;
    margin-top: 30px;
	margin-left: 10%;
    margin-bottom: 30px;
	margin-right: 10%;
	padding-left: 5%;
	padding-right: 5%
}

.intro {
	text-align: center;
	/*border: solid 1px white;*/
	margin-left: 6%;
	margin-right: 6%;
    padding: 0.7% 0.7% 0.7% 0.7%;
}

body {
	background-image: linear-gradient(#181822, #59649c);
	overflow-x: hidden;
}

.projects {
    background-color: #09090e99;
	border: solid white 0px;
    border-radius: 50px;
	padding-top: 50px;
    padding-bottom: 50px;
	margin-left: 6%;
	margin-right: 6%;
}

.projImg {
    border: solid white 3px;
    border-radius: 3px;
}

.footer-bar {
	color: white;
	/*background-color: #252529;
	*/
	background-image: linear-gradient(#252529, #000000);
	text-align: center;
	height: 210px;
	width: 100vw;
}

.contactInfo {
	text-align: center;
	width: 290px;
	margin: auto;
}
